.modal {
  display: block;
  visibility: hidden;
}

.modal-show {
  visibility: visible;
  background-color: rgba(169, 169, 169, 0.8);
  transition: opacity 0.2s linear;
}

.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
}

@media (min-width: 1025px) {
  .h-custom-2 {
    height: 100%;
  }
}
